numpy
pytest
pandas
json-repair

# compute utils to parallelize and keep track of time
ray
timeblock @ git+https://github.com/geoalgo/timeblock.git
pyparfor @ git+https://github.com/geoalgo/pyparfor.git

# for alpaca-eval correct-length
scikit-learn
fire
tenacity

#plotting & experimenting
matplotlib<3.10
Jinja2  # ImportError: Missing optional dependency 'Jinja2'. DataFrame.style requires jinja2. Use pip or conda to install Jinja2.
seaborn
wandb
huggingface_hub  # downloading datasets

# llm clients
openai
together
ollama
vllm
# for smol tokenisation, we could consider to remove it
transformers

tiktoken
